{% load i18n %}
{% load my_filters %}

<div class="product card mb-4"
     onclick="window.location.href='{% url 'store.product' product.id %}'"
     style="cursor: pointer;">

    <img src="{{ product.image.url }}" class="card-img-top" alt="..." />

    <div class="card-img-overlay">
        <a
            class="btn btn-outline-light position-absolute bottom-0 end-0 m-2 w-auto"
            data-url="{% url 'store.cart_add' product.id %}"
            onclick="event.stopPropagation(); cartUpdate(this)"
        >
            <i class="lni lni-cart fs-5 text-black flip-horizontal"></i>
        </a>
    </div>

    <div class="card-body">
        <h6 class="text-muted">{{ product.author.name }}</h6>
        <h6 class="card-title">{{ product.name }}</h6>
        <strong class="fw-bold text-success">{{ product.price|currency }}</strong>
    </div>

</div>

<style>
.card-img-overlay > a {
    width: fit-content !important;
    right: 0 !important;
    left: auto !important;
}

.card-img-overlay:hover {
    background: rgba(0, 0, 0, 0.095);
    border: solid 3px rgba(0, 0, 0, 0.595);
}
.product-card .card-img-top {
    width: 100%;
    height: 220px;
    object-fit: contain;
}
.product .card-img-top {
    width: 100%;
    height: 220px;
    object-fit: contain;
}

</style>