annotated-types==0.7.0
anyio==4.12.0
asgiref==3.11.0
asteval==1.0.8
brotli==1.2.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.5.1
cssselect2==0.9.0
distlib==0.4.2
distro==1.9.0
Django==5.2.9
et_xmlfile==2.0.0
filelock==3.29.1
fonttools==4.62.1
groq==1.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
MarkupSafe==3.0.3
mpmath==1.3.0
numpy==2.4.0
openpyxl==3.1.5
packaging==26.2
paypal==1.2.5
pdfkit==1.0.0
pillow==12.1.1
pipenv==2026.6.2
platformdirs==4.10.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydyf==0.12.1
pyphen==0.17.2
python-discovery==1.4.0
python-dotenv==1.2.3
requests==2.34.2
sniffio==1.3.1
sqlparse==0.5.5
sympy==1.14.0
tinycss2==1.5.1
tinyhtml5==2.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
virtualenv==21.4.2
weasyprint==68.1
webencodings==0.5.1
Werkzeug==3.1.5
zopfli==0.4.1
